[submodule "tee-worker/omni-executor/accounting-contract/bsc/lib/openzeppelin-contracts"]
	path = tee-worker/omni-executor/accounting-contract/bsc/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "tee-worker/omni-executor/accounting-contract/bsc/lib/forge-std"]
	path = tee-worker/omni-executor/accounting-contract/bsc/lib/forge-std
	url = https://github.com/foundry-rs/forge-std