# Multi-Client Mailer Configuration
# Console mailer for testing/development
OE_MAILER_TYPE_CONSOLE=console
OE_MAILER_FROM_EMAIL_CONSOLE=test@example.com
OE_MAILER_FROM_NAME_CONSOLE='Console Mailer'

# Heima client configuration
OE_MAILER_TYPE_HEIMA=sendgrid
OE_MAILER_API_HOST_HEIMA=
OE_MAILER_API_KEY_HEIMA=
OE_MAILER_FROM_EMAIL_HEIMA=
OE_MAILER_FROM_NAME_HEIMA='Heima Network'

# Wildmeta client configuration
OE_MAILER_TYPE_WILDMETA=sendgrid
OE_MAILER_API_HOST_WILDMETA=
OE_MAILER_API_KEY_WILDMETA=
OE_MAILER_FROM_EMAIL_WILDMETA=
OE_MAILER_FROM_NAME_WILDMETA='Wildmeta'

# Binance
OE_BINANCE_API_KEY=
OE_BINANCE_API_SECRET=
OE_BINANCE_API_BASE_URL=

# Heima
OE_PARENTCHAIN_URL=

# Ethereum
OE_ETHEREUM_URL=
OE_BSC_URL=
OE_BSC_TESTNET_URL=

# Google OAuth
OE_GOOGLE_CLIENT_ID=
OE_GOOGLE_CLIENT_SECRET=

# Arbitrum
OE_ARBITRUM_URL=
OE_ARBITRUM_TESTNET_URL=

# HyperEVM
OE_HYPEREVM_URL=
OE_HYPEREVM_TESTNET_URL=

# Alchemy
OE_ALCHEMY_KEY=

# Omni Account Factory
OE_OMNI_FACTORY_ADDRESS=

# Entry Point
OE_ENTRY_POINT_ADDRESS=

# Wildmeta API
OE_WILDMETA_API_URL=

# Wildmeta Backend ECDSA Public Key (for WildmetaBackend auth signature verification)
OE_WILDMETA_BACKEND_ECDSA_PUBKEY=020000000000000000000000000000000000000000000000000000000000000000

# Solana
OE_SOLANA_URL=

