# Copyright (C) 2023 Gramine contributors
# SPDX-License-Identifier: BSD-3-Clause

# Rust manifest example

loader.entrypoint.uri = "file:{{ gramine.libos }}"
libos.entrypoint = "{{ self_exe }}"
loader.log_level = "{{ log_level }}"

loader.env.LD_LIBRARY_PATH = "/lib:{{ arch_libdir }}"

# See https://gramine.readthedocs.io/en/stable/performance.html#glibc-malloc-tuning
loader.env.MALLOC_ARENA_MAX = "1"

# For easier debugging — not strictly required to run this workload
loader.env.RUST_BACKTRACE = "full"

fs.mounts = [
  { path = "/lib", uri = "file:{{ gramine.runtimedir() }}" },
  { path = "{{ arch_libdir }}", uri = "file:{{ arch_libdir }}" },
  { path = "/etc", uri = "file:/etc" },
  { path = "/usr", uri = "file:/usr" },
  { path = "/storage_db", uri = "file:storage_db", type="encrypted", key_name="{{'_sgx_mrsigner' if env.get('SGX', '0') == '1' else 'fake_sgx_mrsigner'}}" },
  { path = "/local", uri = "file:local", type="encrypted", key_name="{{'_sgx_mrsigner' if env.get('SGX', '0') == '1' else 'fake_sgx_mrsigner'}}" },
]

sgx.debug = {{ 'true' if env.get('SGX_DEBUG', '0') == '1' else 'false' }}
sgx.edmm_enable = {{ 'true' if env.get('EDMM', '0') == '1' else 'false' }}

# dns
sys.enable_extra_runtime_domain_names_conf = true

sgx.trusted_files = [
  "file:{{ gramine.libos }}",
  "file:{{ self_exe }}",
  "file:{{ gramine.runtimedir() }}/",
  "file:{{ arch_libdir }}/",
  "file:/etc/ssl/certs/ca-certificates.crt",
  "file:/usr/lib/ssl/certs/ca-certificates.crt",
]

sgx.allowed_files = [ "file:/usr/lib/ssl/certs" ]

# The maximum number of threads in a single process needs to be declared in advance.
# You need to account for:
# - one main thread
# - the tokio worker threads
# - any threads and threadpools you might be starting
# - helper threads internal to Gramine — see:
#   https://gramine.readthedocs.io/en/stable/manifest-syntax.html#number-of-threads
sgx.max_threads = {{ '1' if env.get('EDMM', '0') == '1' else '64' }}

sgx.remote_attestation = "dcap"

# for easy demo setup
loader.insecure__use_cmdline_argv = true

# allowed env variables
loader.env.RUST_LOG = { passthrough = true }
loader.env.OE_BINANCE_API_KEY = { passthrough = true }
loader.env.OE_BINANCE_API_SECRET = { passthrough = true }
loader.env.OE_BINANCE_API_BASE_URL = { passthrough = true }
loader.env.OE_RPC_SERVER_MAX_CONNECTIONS = { passthrough = true }
loader.env.OE_MAILER_TYPE_HEIMA = { passthrough = true }
loader.env.OE_MAILER_API_KEY_HEIMA = { passthrough = true }
loader.env.OE_MAILER_FROM_EMAIL_HEIMA = { passthrough = true }
loader.env.OE_MAILER_FROM_NAME_HEIMA = { passthrough = true }
loader.env.OE_MAILER_TYPE_WILDMETA = { passthrough = true }
loader.env.OE_MAILER_API_KEY_WILDMETA = { passthrough = true }
loader.env.OE_MAILER_FROM_EMAIL_WILDMETA = { passthrough = true }
loader.env.OE_MAILER_FROM_NAME_WILDMETA = { passthrough = true }
loader.env.OE_GOOGLE_CLIENT_ID = { passthrough = true }
loader.env.OE_GOOGLE_CLIENT_SECRET = { passthrough = true }
loader.env.OE_ETHEREUM_URL = { passthrough = true }
loader.env.OE_SOLANA_URL = { passthrough = true }
loader.env.OE_BSC_URL = { passthrough = true }
loader.env.OE_BSC_TESTNET_URL = { passthrough = true }
loader.env.OE_ALCHEMY_KEY = { passthrough = true }
loader.env.OE_ARBITRUM_URL = { passthrough = true }
loader.env.OE_ARBITRUM_TESTNET_URL = { passthrough = true }
loader.env.OE_HYPEREVM_URL = { passthrough = true }
loader.env.OE_HYPEREVM_TESTNET_URL = { passthrough = true }
loader.env.OE_OMNI_FACTORY_ADDRESS = { passthrough = true }
loader.env.OE_ENTRY_POINT_ADDRESS = { passthrough = true }
loader.env.OE_WILDMETA_API_URL = { passthrough = true }
loader.env.OE_WILDMETA_BACKEND_ECDSA_PUBKEY = "{{ env.get('OE_WILDMETA_BACKEND_ECDSA_PUBKEY', '020000000000000000000000000000000000000000000000000000000000000000') }}"
loader.env.OE_BUNDLER_KEY_EXPORT_AUTHORIZED_PUBKEY = "{{ env.get('OE_BUNDLER_KEY_EXPORT_AUTHORIZED_PUBKEY', '020000000000000000000000000000000000000000000000000000000000000000') }}"

# This key is a workaround because gramine-direct doesn't provide _sgx_mrsigner key
{{'' if env.get('SGX', '0') == '1' else 'fs.insecure__keys.fake_sgx_mrsigner = "ffeeddccbbaa99887766554433221100"'}}