# Server configuration
PORT=3001

# Omni-Executor configuration
OMNI_EXECUTOR_URL=https://staging-dex-worker.heima.network

# Chain configuration (Arbitrum Sepolia by default)
CHAIN_ID=421614
RPC_URL=https://sepolia-rollup.arbitrum.io/rpc

# Contract addresses - deployed on Arbitrum Sepolia
ENTRYPOINT_ADDRESS=0xe6042188857a822DDfcFE5fd9E17118049Ab539a
FACTORY_ADDRESS=0xC099F3Cc3cA145546B502A8d8B2866283Aaf054e
PAYMASTER_ADDRESS=0x6255B9F4A4E80BC20eE389fD35DE9d2c029D5912

# Payment configuration
PAYMENT_AMOUNT_ETH=0.00001
SERVER_WALLET_ADDRESS=0x6255B9F4A4E80BC20eE389fD35DE9d2c029D5912 # Address to receive payments

# Client configuration
CLIENT_ID=wildmeta
